<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Aggregating-and-Combining-pandas-DataFrames" data-toc-modified-id="Aggregating-and-Combining-pandas-DataFrames-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Aggregating and Combining <code>pandas</code> DataFrames</a></span><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Set-Up" data-toc-modified-id="Set-Up-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Set Up</a></span></li><li><span><a href="#Aggregating-over-DataFrames:-.groupby()" data-toc-modified-id="Aggregating-over-DataFrames:-.groupby()-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Aggregating over DataFrames: <code>.groupby()</code></a></span></li><li><span><a href="#Aggregating" data-toc-modified-id="Aggregating-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Aggregating</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Pivoting-a-DataFrame" data-toc-modified-id="Pivoting-a-DataFrame-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pivoting a DataFrame</a></span><ul class="toc-item"><li><span><a href="#.pivot_table()" data-toc-modified-id=".pivot_table()-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span><code>.pivot_table()</code></a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Methods-for-Combining-DataFrames:-.join(),-.merge(),-.concat()" data-toc-modified-id="Methods-for-Combining-DataFrames:-.join(),-.merge(),-.concat()-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Methods for Combining DataFrames: <code>.join()</code>, <code>.merge()</code>, <code>.concat()</code></a></span><ul class="toc-item"><li><span><a href="#.join()" data-toc-modified-id=".join()-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.join()</code></a></span></li><li><span><a href="#.merge()" data-toc-modified-id=".merge()-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.merge()</code></a></span></li><li><span><a href="#The-how-Parameter" data-toc-modified-id="The-how-Parameter-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>The <code>how</code> Parameter</a></span></li><li><span><a href="#pd.concat()" data-toc-modified-id="pd.concat()-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span><code>pd.concat()</code></a></span></li><li><span><a href="#Back-to-the-Center" data-toc-modified-id="Back-to-the-Center-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Back to the Center</a></span></li></ul></li><li><span><a href="#Level-Up:-Quick-Column-Name-Clean-Up-Code" data-toc-modified-id="Level-Up:-Quick-Column-Name-Clean-Up-Code-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Level Up: Quick Column Name Clean Up Code</a></span></li><li><span><a href="#Level-Up:-pandas.set_option()" data-toc-modified-id="Level-Up:-pandas.set_option()-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Level Up: <code>pandas.set_option()</code></a></span><ul class="toc-item"><li><span><a href="#Block-Scientific-Notation" data-toc-modified-id="Block-Scientific-Notation-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Block Scientific Notation</a></span></li><li><span><a href="#See-More-Rows" data-toc-modified-id="See-More-Rows-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>See More Rows</a></span></li></ul></li></ul></div>

# Aggregating and Combining `pandas` DataFrames

## Objectives

- Use GroupBy objects to organize and aggregate data
- Create pivot tables from DataFrames
- Combine DataFrames by merging and appending

## Set Up

Surprise, surprise... we're still working with the Austin Animal Center Data! Let's start with Outcomes

In [22]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [11]:
# Read in the Outcomes data
# Let's be sure to parse dates for the DateTime and Date of Birth columns
outcomes = pd.read_csv('./data/Austin_Animal_Center_Outcomes_022822.csv', parse_dates = ['DateTime','Date of Birth'])

In [12]:
# Check it
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,2019-05-08 18:20:00,May 2019,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18 16:02:00,Jul 2018,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,2020-08-16 11:38:00,Aug 2020,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,2016-02-13 17:59:00,Feb 2016,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,2014-03-18 11:47:00,Mar 2014,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [ ]:
# Let's create our Age in Days column

In [ ]:
# Grab just the integer here...

In [26]:
# Sanity check
outcomes.describe()

<ipython-input-26-0b86cd808a8d>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  outcomes.describe()
<ipython-input-26-0b86cd808a8d>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  outcomes.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,137097,96095,137097,137097,137097,137073,62653,137097,137095,137092,137097,137097
unique,122587,23022,113939,101,7499,9,26,5,5,53,2735,617
top,A721033,Max,2016-04-18 00:00:00,Jun 2019,2016-05-01 00:00:00,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,617,39,2244,119,62707,33259,77091,48299,23780,32387,14315
first,NaN,NaN,2013-10-01 09:31:00,NaN,1991-09-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2022-02-28 14:19:00,NaN,2022-02-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Aggregating over DataFrames: `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. (And if you haven't, you'll see it very soon!) Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [13]:
# Just using groupby outputs some weird GroupBy object... not helpful
outcomes.groupby(by='Animal Type')

Once we know we are working with a type of object, it opens up a suite of attributes and methods. One attribute we can look at is groups.

In [14]:
# This returns each group indexed by the group name, e.g. 'Bird',
# along with the row indices of each value

outcomes.groupby('Animal Type').groups.keys()

dict_keys(['Bird', 'Cat', 'Dog', 'Livestock', 'Other'])

In [15]:
# Same goes for multi-index groupbys
animal_outcome = outcomes.groupby(['Animal Type', 'Outcome Type'])

In [16]:
# .groups outputs a dictionary, so we can access the group names using keys()
animal_outcome.groups.keys()

dict_keys([('Cat', 'Rto-Adopt'), ('Dog', 'Adoption'), ('Other', 'Euthanasia'), ('Cat', 'Transfer'), ('Cat', 'Adoption'), ('Cat', 'Return to Owner'), ('Dog', 'Return to Owner'), ('Dog', 'Transfer'), ('Cat', 'Euthanasia'), ('Other', 'Adoption'), ('Dog', 'Rto-Adopt'), ('Cat', 'Died'), ('Dog', 'Euthanasia'), ('Other', 'Transfer'), ('Bird', 'Adoption'), ('Other', 'Disposal'), ('Other', 'Died'), ('Dog', 'Died'), ('Cat', 'Disposal'), ('Other', 'Return to Owner'), ('Bird', 'Euthanasia'), ('Bird', 'Transfer'), ('Livestock', 'Return to Owner'), ('Dog', 'Missing'), ('Other', 'Relocate'), ('Dog', nan), ('Livestock', 'Adoption'), ('Bird', 'Return to Owner'), ('Dog', 'Disposal'), ('Cat', 'Missing'), ('Bird', 'Disposal'), ('Bird', 'Died'), ('Other', 'Missing'), ('Other', 'Rto-Adopt'), ('Bird', 'Relocate'), ('Bird', 'Missing'), ('Other', nan), ('Livestock', 'Transfer'), ('Cat', 'Relocate'), ('Cat', nan), ('Livestock', 'Died'), ('Livestock', 'Euthanasia')])

In [17]:
# We can then get a specific group, such as cats that were adopted
animal_outcome.get_group(('Cat', 'Adoption'))

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
7,A689724,*Donatello,2014-10-18 18:52:00,Oct 2014,2014-08-01,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
8,A680969,*Zeus,2014-08-05 16:59:00,Aug 2014,2014-06-03,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
20,A730621,*Liza,2016-09-10 18:59:00,Sep 2016,2016-05-18,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Calico
26,A801106,NaN,2019-08-16 14:05:00,Aug 2019,2019-05-06,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Orange Tabby
54,A792258,Vesper,2019-04-10 20:53:00,Apr 2019,2016-09-08,Adoption,NaN,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Tortie
...,...,...,...,...,...,...,...,...,...,...,...,...
137072,A846689,Coco Chanel,2022-02-26 17:23:00,Feb 2022,2021-08-19,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair,Blue Tabby
137073,A845330,Mitzi,2022-02-26 18:09:00,Feb 2022,2021-01-28,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair,Torbie/White
137088,A851184,*Papaya,2022-02-28 11:38:00,Feb 2022,2021-02-08,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Orange Tabby/White
137090,A847804,*Mahalia,2022-02-28 11:42:00,Feb 2022,2011-12-08,Adoption,NaN,Cat,Spayed Female,10 years,Domestic Shorthair Mix,Brown Tabby/White
137092,A850166,Rainey,2022-01-24 18:20:00,Jan 2022,2021-11-19,Adoption,NaN,Cat,Intact Male,2 months,Siamese,Seal Point

## Aggregating

Once again, as we will see in SQL, groupby objects are intended to be used with aggregation. In SQL, we will see that our queries that include GROUP BY require aggregation performed on columns.

We can use `.sum()`, `.mean()`, `.count()`, `.max()`, `.min()`, etc. Find a list of common aggregations [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html).

In [18]:
# Let's try it out
outcomes.groupby('Animal Type').count()['Animal ID']

Animal Type
Bird           636
Cat          52092
Dog          77091
Livestock       25
Other         7253
Name: Animal ID, dtype: int64

## Exercise

Use `.groupby()` to find the most recently born of each (main) animal type.

In [23]:
# Your code here
outcomes.groupby('Animal Type').max('Date of Birth')

,Animal ID,DateTime,MonthYear,Date of Birth,Breed,Color
Animal Type,,,,,,
Bird,A851114,2022-02-10 08:07:00,Sep 2021,2022-01-06,Wren Mix,Yellow/White
Cat,A852208,2022-02-28 11:42:00,Sep 2021,2022-02-18,Turkish Van Mix,Yellow/Orange Tabby
Dog,A852137,2022-02-28 14:19:00,Sep 2021,2022-02-14,Yorkshire Terrier/Yorkshire Terrier,Yellow/Yellow
Livestock,A841166,2021-09-08 17:04:00,Sep 2021,2020-05-28,Sheep Mix,White/Black
Other,A852205,2022-02-28 08:11:00,Sep 2021,2022-02-11,Turtle Mix,Yellow/Black

# Pivoting a DataFrame

## `.pivot_table()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

Grouping by two different columns can be very helpful.

In [27]:
# Groupby two columns
outcomes.gr(by=['Outcome Type', 'Sex upon Outcome']).agg('mean')

DataError: No numeric types to aggregate

But it has the unsavory side effect of creating a two-level index. This can be a good time to use `.pivot_table()`.

(There is also a `.pivot()`. For the somewhat subtle differences, see [here](https://stackoverflow.com/questions/30960338/pandas-difference-between-pivot-and-pivot-table-why-is-only-pivot-table-workin).)

In [28]:
# Now try with a pivot table
outcomes.pivot_table(index='Outcome Type', columns='Sex upon Outcome', aggfunc='mean')

DataError: No numeric types to aggregate

# Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`

Many ways to combine dataframes! Luckily, pandas has great docs: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

## `.join()`

In [29]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'MP'])

toy1

   age   HP
0   63  142
1   33   47

In [30]:
toy2

   age   MP
0   63  100
1   33  200

In [31]:
# We can't just join these as they are, since we haven't specified our suffixes

toy1.join(toy2)

ValueError: columns overlap but no suffix specified: Index(['age'], dtype='object')

In [32]:
toy1.join(toy2, lsuffix='1', rsuffix='2')

   age1   HP  age2   MP
0    63  142    63  100
1    33   47    33  200

If we don't want to keep both, we could set the overlapping column as the index in each DataFrame:

In [33]:
toy1.set_index('age').join(toy2.set_index('age'))

      HP   MP
age
63   142  100
33    47  200

In [34]:
toy1.drop('age', axis=1).join(toy2)

    HP  age   MP
0  142   63  100
1   47   33  200

## `.merge()`

Or we could use `.merge()`:

In [ ]:
# Let's try with a SLIGHTLY bigger toy dataset
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)
ds_chars

In [ ]:
# And another to merge it with
states = pd.read_csv('data/states.csv', index_col=0)
states

## The `how` Parameter

This parameter in both `.join()` and `.merge()` tells the compiler what sort of join to effect. We'll cover this in detail when we discuss SQL.

![image showcasing how the how parameter in a join/merge would combine the two datasets, using venn-style diagrams](https://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)
[[Image Source]](https://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/)

In [ ]:
# Merge ds_chars and states - first an inner join

In [ ]:
# Now an outer join

## `pd.concat()`

This method takes a *list* of pandas objects as arguments.

In [ ]:
# Another mini dataset to play with
prefs = pd.read_csv('data/preferences.csv', index_col=0)
prefs

In [ ]:
# Concat prefs and ds_chars

`pd.concat()`â€“â€“ and many other pandas operations â€“â€“ make use of an `axis` parameter. For this particular method I need to specify whether I want to concatenate the DataFrames *row-wise* (`axis=0`) or *column-wise* (`axis=1`). The default is `axis=0`, so let's override that!

In [ ]:
# Adjust and try again

## Back to the Center

We have Intakes data and we have Outcomes data... time to merge!

In [ ]:
# Peek at the outcomes data we already had in here

In [ ]:
# Read in the intakes data

# Check it out

In [ ]:
# Let's try merging on Animal ID

In [ ]:
# What was the result?

In [ ]:
combined.shape

In [ ]:
intakes.shape

In [ ]:
outcomes.shape

Let's discuss/explore: did that work the way we expected?

-

In [ ]:
# We might want to try something different
# Can we clean something to make a better merge?

In [ ]:
# Clean what needs cleaning...

In [ ]:
# Try again

# Level Up: Quick Column Name Clean Up Code

Throwing a quick use of a lambda function your way:

In [ ]:
outcomes_renamed = outcomes.rename(columns = lambda x: x.replace(" ", "_").lower())
outcomes_renamed.head()

# Level Up: `pandas.set_option()`

We can adjust how `pandas` works by setting options in advance.

For complete documentation, see [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html).

## Block Scientific Notation

For example, suppose we want to prevent numbers from being displayed in scientific notation.

In [ ]:
df = pd.DataFrame([[1e9, 2e9], [3e9, 4e9]])
df

Then we can use:

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

df

## See More Rows

Or suppose we want `pandas` to show more rows.

In [ ]:
df2 = pd.DataFrame(np.array(range(100)))
df2

In that case we can use:

In [ ]:
pd.set_option('display.max_rows', 100)

df2