<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Example-Together" data-toc-modified-id="Example-Together-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Example Together</a></span><ul class="toc-item"><li><span><a href="#Question" data-toc-modified-id="Question-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Question</a></span></li><li><span><a href="#Considerations" data-toc-modified-id="Considerations-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Considerations</a></span></li><li><span><a href="#Loading-the-Data" data-toc-modified-id="Loading-the-Data-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Loading the Data</a></span></li><li><span><a href="#Some-Exploration-to-Better-Understand-our-Data" data-toc-modified-id="Some-Exploration-to-Better-Understand-our-Data-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Some Exploration to Better Understand our Data</a></span></li><li><span><a href="#Experimental-Setup" data-toc-modified-id="Experimental-Setup-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Experimental Setup</a></span><ul class="toc-item"><li><span><a href="#What-Test-Would-Make-Sense?" data-toc-modified-id="What-Test-Would-Make-Sense?-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>What Test Would Make Sense?</a></span></li><li><span><a href="#The-Hypotheses" data-toc-modified-id="The-Hypotheses-2.5.2"><span class="toc-item-num">2.5.2&nbsp;&nbsp;</span>The Hypotheses</a></span></li><li><span><a href="#Setting-a-Threshold" data-toc-modified-id="Setting-a-Threshold-2.5.3"><span class="toc-item-num">2.5.3&nbsp;&nbsp;</span>Setting a Threshold</a></span></li></ul></li><li><span><a href="#$\chi^2$-Test" data-toc-modified-id="$\chi^2$-Test-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>$\chi^2$ Test</a></span><ul class="toc-item"><li><span><a href="#Setup-the-Data" data-toc-modified-id="Setup-the-Data-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>Setup the Data</a></span></li><li><span><a href="#Calculation" data-toc-modified-id="Calculation-2.6.2"><span class="toc-item-num">2.6.2&nbsp;&nbsp;</span>Calculation</a></span></li></ul></li><li><span><a href="#Interpretation" data-toc-modified-id="Interpretation-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Interpretation</a></span></li></ul></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Exercise</a></span></li></ul></div>

In [1]:
import numpy as np
import pandas as pd

from scipy import stats
import seaborn as sns

# Objectives

- Conduct an A/B test in Python
- Interpret the results of the A/B tests for a stakeholder

# Example Together

## Question

We have data about whether customers completed sales transactions, segregated by the type of ad banners to which the customers were exposed.

The question we want to answer is whether there was any difference in sales "conversions" between desktop customers who saw the sneakers banner and desktop customers who saw the accessories banner in the month of May 2019.

## Considerations

What would we need to consider when designing our experiment?

Might include:

- Who is it that we're including in our test?
- How big of an effect would make it "worth" us seeing?
    - This can affect sample size
    - This can give context of a statistically significant result
- Other biases or "gotchas"

## Loading the Data

First let's download the data from [kaggle](https://www.kaggle.com/podsyp/how-to-do-product-analytics) via the release page of this repo: https://github.com/flatiron-school/ds-ab_testing/releases 

The code below will load it into our DataFrame:

In [2]:
# This will download the data from online so it can take
# some time (but relatively small download)

df = pd.read_csv('https://github.com/flatiron-school/ds-ab_testing/\
releases/download/v1.2/products_small.csv')

> Let's take a look while we're at it

In [5]:
# Check it out
df.tail()

,Unnamed: 0,order_id,user_id,page_id,product,site_version,time,title,target
999995,3266597,fcb8441518d103768f9646ae13666a1a,50a29a0389927ad5fa764b79d4586516,e8525db41206d25802878776cae808d3,sports_nutrition,mobile,2019-02-24 12:14:22,banner_show,0
999996,3992311,9730ee6522e38d91d6ae1965174d7804,b2d591891493b1c1b2ab93fef7d91b73,a434b1c7f39603eb2a1540882d8d4a36,company,desktop,2019-03-04 09:11:42,banner_show,0
999997,2188188,f843ea262cc467796f935b9763d22ef2,f6814572fff90c5b8c352328c64afa93,e1fc79d05c7befb754465da0cdd852e6,accessories,desktop,2019-02-07 05:10:13,banner_show,0
999998,1338106,763b1441f0d9dc1fbe97563260337103,73cd85af2fce31b9631bcb755056abbf,7176f5e9847ab8fbbbf49719a1315351,clothes,mobile,2019-02-04 10:46:08,banner_show,0
999999,7650805,af3a19fcceb477d2992f1771af3a9b34,515cb969971fb5e08ae0316f58e3f434,ef38d906f15db1efde867c68f1336946,sneakers,desktop,2019-05-20 17:58:16,banner_show,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1000000 non-null  int64
 1   order_id      1000000 non-null  object
 2   user_id       1000000 non-null  object
 3   page_id       1000000 non-null  object
 4   product       1000000 non-null  object
 5   site_version  1000000 non-null  object
 6   time          1000000 non-null  object
 7   title         1000000 non-null  object
 8   target        1000000 non-null  int64
dtypes: int64(2), object(7)
memory usage: 68.7+ MB

In [6]:
df.describe()

         Unnamed: 0          target
count  1.000000e+06  1000000.000000
mean   4.239850e+06        0.029395
std    2.443943e+06        0.168911
min    4.000000e+00        0.000000
25%    2.125160e+06        0.000000
50%    4.244678e+06        0.000000
75%    6.355990e+06        0.000000
max    8.471211e+06        1.000000

In [7]:
df.describe(include=['object'])

,order_id,user_id,page_id,product,site_version,time,title
count,1000000,1000000,1000000,1000000,1000000,1000000,1000000
unique,1000000,882589,959023,5,2,952092,3
top,fd8507fa6b74a1ef35673df10657069a,2a98f631f947487fc710b89d13d5a51a,a3d2de7675556553a5f08e4c88d2c228,clothes,mobile,2019-01-14 18:47:47,banner_show
freq,1,8,29395,210996,718521,5,872275

In [ ]:
# All the deets

## Some Exploration to Better Understand our Data

Lets's look at the different banner types:

In [10]:
# banner types
df['product'].value_counts()

clothes             210996
company             203020
sneakers            201298
sports_nutrition    193200
accessories         191486
Name: product, dtype: int64

In [11]:
# site version
df.site_version.value_counts()

mobile     718521
desktop    281479
Name: site_version, dtype: int64

In [12]:
# products and targets
df.groupby('product')['target'].value_counts(normalize=True)

product           target
accessories       0         0.972014
                  1         0.027986
clothes           0         0.937079
                  1         0.062921
company           0         1.000000
sneakers          0         0.960640
                  1         0.039360
sports_nutrition  0         0.985316
                  1         0.014684
Name: target, dtype: float64

Let's look at the range of time-stamps on these data:

In [13]:
# Date range
df['time'].min()

'2019-01-01 00:00:25'

In [15]:
df['time'].max()

'2019-05-31 23:59:21'

Let's check the counts of the different site_version values:

In [ ]:
# Site types
df.site_version.value_counts()

In [16]:
# action title
df['title'].value_counts()

banner_show     872275
banner_click     98330
order            29395
Name: title, dtype: int64

In [17]:
# double check
df['target'].value_counts()

0    970605
1     29395
Name: target, dtype: int64

In [18]:
# triple check
sum(df.target) == len(df['title'].loc[ df['title'] == 'order'])

True

In [19]:
# quadruple check
order_filter = df['title'] == 'order'

target_filer = df['target'] == 1

df.loc[order_filter & target_filer].shape

(29395, 9)

In [ ]:
# quintuple check
df['target2'] = df['title'].apply(labda x: 1 if x == 'order' else 0)

## Experimental Setup

We need to filter by site_version, time, and product:

In [20]:
'2019-05-01' < '2019-05-01'

False

In [25]:
time_filter = df['time'] > '2019-05-01'
site_filter = df['site_version'] == 'desktop'
product_filter = df['product'].isin(['sneakers', 'accessories'])

df2 = df.loc[time_filter & site_filter & product_filter].copy()
df2.tail()

,Unnamed: 0,order_id,user_id,page_id,product,site_version,time,title,target
999904,5738290,ecfe9da2dbea255f05b2f526a4c663a7,cd7598ba5798ad6bd3f5a667ae4c217a,644ad50dd900d6735d8ceb15b71d50f8,accessories,desktop,2019-05-01 23:01:05,banner_show,0
999908,7885931,8c28b45ff7fbb5d5df0b7670183689db,2f28106a4db2babcfde1c4095c805632,a3d2de7675556553a5f08e4c88d2c228,sneakers,desktop,2019-05-26 11:19:09,order,1
999915,8099155,c613db2f19c7285f101196062c178490,97473368941b89c4716c4f389e9b8bd7,a3d2de7675556553a5f08e4c88d2c228,sneakers,desktop,2019-05-11 09:04:46,order,1
999930,6690689,6f7f32ecf6790e4eb06384b479f43162,73f403b4843c70c41c0db294ee479582,13f395d7c86ef276f7ce52a557fd3491,accessories,desktop,2019-05-09 09:17:24,banner_show,0
999999,7650805,af3a19fcceb477d2992f1771af3a9b34,515cb969971fb5e08ae0316f58e3f434,ef38d906f15db1efde867c68f1336946,sneakers,desktop,2019-05-20 17:58:16,banner_show,0

In [ ]:
# sniff test!

### What Test Would Make Sense?

Since we're comparing the frequency of conversions of customers who saw the "sneakers" banner against those who saw the "accessories" banner, we can use a $\chi^2$ test.

Note there are other hypothesis tests we can use but this should be fine since it should fit our criteria.

### The Hypotheses

$H_0$: conversion frequencies for sneakers = conversion frequencies for accessories

$H_1$: conversion frequencies for sneakers != conversion frequencies for accessories

### Setting a Threshold

We'll set a false-positive rate of $\alpha = 0.05$.

## $\chi^2$ Test

### Setup the Data

We need our contingency table: the numbers of people who did or did not submit orders, both for the accessories banner and the sneakers banner.

In [36]:
# Create the two product types
df_A = df2.loc[ df2['product'] == 'accessories']
df_S = df2.loc[ df2['product'] == 'sneakers']

accessories_total = len(df_A)
sneakers_total = len(df_S)

In [37]:
# Get number of orders
accessories_order = sum(df_A['target'])
sneakers_order = sum(df_S['target'])
accessories_order, sneakers_order

(496, 799)

To get the numbers of people who didn't submit orders, we get the total number of people who were shown banners and then subtract the numbers of people who did make orders.

In [38]:
# get conversion rates
accessories_no_order = len(df_A['target'] == 0)
sneakers_no_order = len(df_S['target'] == 0)
accessories_no_order, sneakers_no_order

(12703, 13269)

In [40]:
# Create table
contingency_table = np.array([
    (accessories_order, accessories_no_order),
    (sneakers_order, sneakers_no_order)
])
contingency_table

array([[  496, 12703],
       [  799, 13269]])

### Calculation

In [41]:
# Chi^2!

stats.chi2_contingency(contingency_table)

(55.16707172214907,
 1.107079316095707e-13,
 1,
 array([[  626.86415814, 12572.13584186],
        [  668.13584186, 13399.86415814]]))

This extremely low $p$-value suggests that these two groups are genuinely performing differently. In particular, the desktop customers who saw the sneakers banner in May 2019 bought at a higher rate than the desktop customers who saw the accessories banner in May 2019.

## Interpretation

In [42]:
contingency_table

array([[  496, 12703],
       [  799, 13269]])

In [45]:
contingency_table[:, 0]

array([496, 799])

In [46]:
contingency_table.sum(axis=1)

array([13199, 14068])

In [43]:
# Find the difference in conversion rate
accessory_CR, sneaker_CR = contingency_table[:, 0] / contingency_table.sum(axis=1)

In [44]:
print(f'Conversion Rate for accessory banner:\n\t{100*accessory_CR:.3f}%')
print(f'Conversion Rate for sneaker banner:\n\t{100*sneaker_CR:.3f}%')
print('')
print(f'Absolute difference of CR: {100*(sneaker_CR-accessory_CR):.3f}%')

Conversion Rate for accessory banner:
	3.758%
Conversion Rate for sneaker banner:
	5.680%

Absolute difference of CR: 1.922%


So we can say:
- There was a statistically significant difference at the $\alpha$-level (confidence level)
- The difference was about $2.1\%$ in favor of the sneaker banner!

# Exercise

> The company is impressed with what you found and is now wondering if there is a difference in their other banner ads!

With your group, look at the same month (May 2019) but compare different platforms ('mobile' vs 'desktop') and or different banner types ('accessories', 'sneakers', 'clothes', 'sports_nutrition'). Just don't repeat the same test we did above ðŸ˜‰

Make sure you record what considerations you have for the experiment, what hypothesis test you performed ($H_0$ and $H_1$ too), and your overall conclusion/interpretation for the _business stakeholders_. Is there a follow-up you'd suggest?

In [47]:

time_filter = df['time'] > '2019-05-01'
site_filter = df['site_version'] == 'mobile'
product_filter = df['product'].isin(['sneakers', 'accessories'])

df3 = df.loc[time_filter & site_filter & product_filter].copy()
df3.tail()

,Unnamed: 0,order_id,user_id,page_id,product,site_version,time,title,target
999928,2822488,e8133e39856b5c8ec7a6e4388e7701ed,ccf84b32dc627026ef6a01b285fece71,153c06e37bc12e62965a83e3c605f8d2,accessories,mobile,2019-05-23 08:52:37,banner_show,0
999929,8031203,996a9067bb945d7626ec5d29cbcd85f2,96feb346c04fc0e29f068d9a74a4d010,5904b24e5073b1b176fd35bc73008f4f,sneakers,mobile,2019-05-06 07:46:29,banner_show,0
999931,1290820,b03fea96c54dbc230a4f46816cd832f3,66c85dc7321448553b60e09b3ee81107,69eb14d56fca028c6b4e49542430c2b0,sneakers,mobile,2019-05-16 17:51:59,banner_show,0
999941,7844198,b1b9c704e45b53338ccebf75d3584a33,a51472c7cafe79b9f0dcdc3c14252407,ed3c1c305201a4ed1d69e950435ede73,accessories,mobile,2019-05-24 10:06:09,banner_show,0
999954,2385332,790b3a86be8def144804afdf71965595,1e3f776145210629e5645e621e032b48,45d39d405e9c25291a3abb02c788b99d,accessories,mobile,2019-05-21 23:34:26,banner_show,0

In [48]:
df3_A = df3.loc[ df3['product'] == 'accessories']
df3_S = df3.loc[ df3['product'] == 'sneakers']

accessories_total = len(df3_A)
sneakers_total = len(df3_S)

In [49]:
accessories_order = sum(df3_A['target'])
sneakers_order = sum(df3_S['target'])


accessories_no_order = len(df3_A['target'] == 0)
sneakers_no_order = len(df3_S['target'] == 0)

In [50]:
contingency_table3 = np.array([
    (accessories_order, accessories_no_order),
    (sneakers_order, sneakers_no_order)
])
contingency_table3

array([[  615, 35462],
       [  934, 37925]])

In [51]:
stats.chi2_contingency(contingency_table3)

(44.7932153056255,
 2.189801522979379e-11,
 1,
 array([[  745.74667716, 35331.25332284],
        [  803.25332284, 38055.74667716]]))

In [52]:
accessory_m_CR, sneaker_m_CR = contingency_table3[:, 0] / contingency_table3.sum(axis=1)

print(f'Conversion Rate for accessory banner:\n\t{100*accessory_m_CR:.3f}%')
print(f'Conversion Rate for sneaker banner:\n\t{100*sneaker_m_CR:.3f}%')
print('')
print(f'Absolute difference of CR: {100*(sneaker_m_CR-accessory_m_CR):.3f}%')

Conversion Rate for accessory banner:
	1.705%
Conversion Rate for sneaker banner:
	2.404%

Absolute difference of CR: 0.699%

In [53]:
time_filter = df['time'] > '2019-05-01'
site_filter = df['site_version'] == 'mobile'
product_filter = df['product'].isin(['sneakers', 'accessories'])

df4 = df.loc[time_filter].copy()
df4.tail()

,Unnamed: 0,order_id,user_id,page_id,product,site_version,time,title,target
999980,8159492,f49debd6ec37e7dc963cc8f9263a040f,10167ef9d0127d225909c4ece2cdfc28,6b668b223896c8683f14d20d332b607e,sports_nutrition,mobile,2019-05-21 16:50:47,banner_show,0
999985,8197096,9b90203a458a19bec09cd4fb6f9dc69f,bff8aee79342f86d1346d94651e84a64,876a5dd1c118fa00690f852d9ed6ad6d,company,desktop,2019-05-22 06:30:48,banner_show,0
999992,7735711,c40020044e86083b53c48ec23b1eda2a,fbb6f9203a0845ab8a824855582059c3,eeae53a3fe2725c7e1d57abed2b116cb,clothes,desktop,2019-05-02 16:00:12,banner_show,0
999994,6401235,f49e74785bb20dbc3baa646edf13bfc5,e43bfac12750d537c89e9332c376279a,f67fabd6264199d7f0bd7e24e8c0dabc,sports_nutrition,mobile,2019-05-16 17:15:10,banner_show,0
999999,7650805,af3a19fcceb477d2992f1771af3a9b34,515cb969971fb5e08ae0316f58e3f434,ef38d906f15db1efde867c68f1336946,sneakers,desktop,2019-05-20 17:58:16,banner_show,0

In [ ]:
clothes             
company             
sneakers            
sports_nutrition   
accessories

In [54]:
df4_CL = df4.loc[ df4['product'] == 'clothes']
df4_CO = df4.loc[ df4['product'] == 'company']
df4_SK = df4.loc[ df4['product'] == 'sneakers']
df4_SN = df4.loc[ df4['product'] == 'sports_nutrition']
df4_AC = df4.loc[ df4['product'] == 'accessories']

In [55]:
CL_order = sum(df4_CL['target'])
CO_order = sum(df4_CO['target'])
SK_order = sum(df4_SK['target'])
SN_order = sum(df4_SN['target'])
AC_order = sum(df4_AC['target'])

CL_no_order = len(df4_CL['target'] == 0)
CO_no_order = len(df4_CO['target'] == 0)
SK_no_order = len(df4_SK['target'] == 0)
SN_no_order = len(df4_SN['target'] == 0)
AC_no_order = len(df4_AC['target'] == 0)

In [56]:
contingency_table4 = np.array([
    (CL_order, CL_no_order),
    (CO_order, CO_no_order),
    (SK_order, SK_no_order),
    (SN_order, SN_no_order),
    (AC_order, AC_no_order)
])

In [58]:
chi2, p, dof, expected = stats.chi2_contingency(contingency_table4)
print("chi-squared p-value:", p)

In [59]:
stats.chi2_contingency(contingency_table4)

(3090.196921561548,
 0.0,
 4,
 array([[ 1341.70654188, 54812.29345812],
        [ 1157.79951384, 47299.20048616],
        [ 1264.60273787, 51662.39726213],
        [ 1221.52304817, 49902.47695183],
        [ 1177.36815824, 48098.63184176]]))

In [77]:
CL_row = (CL_order, CL_no_order)
CO_row = (CO_order, CO_no_order)
SK_row = (SK_order, SK_no_order)
SN_row = (SN_order, SN_no_order)
AC_row = (AC_order, AC_no_order)

In [63]:
import itertools

In [99]:
list_dict = {
    'CL': CL_row,
    'CO': CO_row,
    'SK': SK_row,
    'SN': SN_row,
    'AC': AC_row,
}
prefix_list = ['CL','CO','SK','SN','AC']
actual_list = [CL_row, CO_row, SK_row, SN_row, AC_row]
prefix_codes = itertools.combinations(list_dict.keys(), 2)

In [100]:
for combo in prefix_codes:
    
    ct = np.array([list_dict[combo[0]], list_dict[combo[1]]])
    chi2, p, dof, expect = stats.chi2_contingency(ct)
    print(f'The chi-squared p-value for {combo[0]} & {combo[1]} is: {p}')

The chi-squared p-value for CL & CO is: 0.0
The chi-squared p-value for CL & SK is: 8.834194104780333e-38
The chi-squared p-value for CL & SN is: 1.7051316925618514e-254
The chi-squared p-value for CL & AC is: 4.852331552532055e-109
The chi-squared p-value for CO & SK is: 0.0
The chi-squared p-value for CO & SN is: 2.337984213686938e-129
The chi-squared p-value for CO & AC is: 7.029886483025703e-242
The chi-squared p-value for SK & SN is: 1.4476349622620293e-111
The chi-squared p-value for SK & AC is: 4.869900144533299e-23
The chi-squared p-value for SN & AC is: 2.5863073601283695e-37

In [82]:

ct_test = np.array([CL_row, CO_row])
print(ct_test)

[[ 2703 53451]
 [    0 48457]]

In [83]:
stats.chi2_contingency(ct_test)

(2392.4562972685076,
 0.0,
 1,
 array([[ 1450.93978645, 54703.06021355],
        [ 1252.06021355, 47204.93978645]]))